<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Transcriber</title>
    <link rel="stylesheet" href="static/css/styles copy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Your CSS styles */
    </style>
</head >
<body>    
    <div class="container">
        <div class="sidebar">
            <a href="{{ url_for('hometrial') }}"> <button class="sidebar-btn" >Home</button></a>

            <a href="{{ url_for('home') }}"> <button class="sidebar-btn" >Text File</button></a>
            <a href="{{ url_for('audio_to_text_input') }}"> <button class="sidebar-btn" >Audio File</button></a>
            <a href="{{ url_for('video_to_audio_input') }}"><button class="sidebar-btn">Vedio File</button></a>
            <a href="{{ url_for('youtube_to_audio_input') }}"><button class="sidebar-btn">Youtube Link</button></a>

            <a href="{{ url_for('logout') }}"><button class="sidebar-btn" >Logout</button></a>
        </div>


        <h2>Vedio Transcriber</h2>
        <form action="/extract_text_from_video" method="post" enctype="multipart/form-data">
            <!-- Hidden file input -->
            <input type="file" id="fileInput" name="fileInput" style="display: none;">
            <!-- Button to trigger file input -->
            <button type="button" class="box-button" id="fileInputBtn">Choose Video File</button><br>
            <div class="language-select">
                <label for="language">Choose Language:</label><br>
                <select id="language" name="language">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                    <option value="es">Spanish</option>
                    <option value="hi">Hindi</option>
                    <option value="mr">Marathi</option>

                    <option value="ta">tamil</option>
                    <option value="te">telugu</option>
                    <option value="tr">turkish</option>
                    <option value="pa">punjabi</option>
                    <option value="ne">nepali</option>

                    <option value="af">afrikaans</option>
                    <option value="bn">bengali</option>
                    <option value="zh-tw">chinese (traditional)</option>
                    <option value="de">german</option>
                    <option value="gu">gujarati</option>

                    <option value="it">italian</option>
                    <option value="ja">japanese</option>
                    <option value="kn">kannada</option>
                    <option value="ko">korean</option>
                    <option value="ml">malayalam</option>
                </select>
            </div>
            <div class="output-icons">
                <button type="submit" style="width:20%;font-size: 20px;">Submit</button>
            </div>
            <div class="output" id="output">
                
                <div class="extracted-text">
                    <h3>Extracted Text:</h3>
                    <p>{{ extracted_text }}</p>
                </div>
                <div class="translated-text">
                    <h3>Translated Text:</h3>
                    <p>{{ translated_text }}</p>
                </div>
            </div>
        </form>
    </div>

    <div class="spacer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Trigger file input when button is clicked
            $("#fileInputBtn").click(function() {
                $("#fileInput").click();
            });

            // Display selected file name (optional)
            $("#fileInput").change(function() {
                var fileName = $(this).val().split('\\').pop();
                $(this).siblings('button').text(fileName || "Choose Audio File");
            });
        });
    </script>
</body>
</html>
